*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.habit {
  background:lightblue;
  margin:15px 20px;
  padding: 1rem 1rem;
  transition:.3s;
  min-height: 10rem;
}


.habit:hover{
  transform: scale(1);
  padding:1rem 2rem;
}

.app{
  flex-wrap:wrap;
}

.comment{
  background:palegoldenrod;
  padding:.5rem 1rem;
  margin-top:.5rem;
  border:1px solid black;
}
.canvas{
  background:white;
}
.chartjs-render-monitor{
  background-color:white;
}